.container {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .sentenceQuote{
    padding: 10px;
    /*margin-bottom: 2px;*/
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  