<div class="container">
  <h2>Game of Thrones Quotes:</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="quoteCount">Number of Quotes (0-100):</label>
      <input type="number" id="quoteCount" formControlName="quoteCount" class="form-control">
      <div *ngIf="form?.get('quoteCount')?.hasError('required')" class="error-message">
        Number of quotes is required.
      </div>
      <div *ngIf="form?.get('quoteCount')?.hasError('min') || form?.get('quoteCount')?.hasError('max')" class="error-message">
        Enter a number between 0 and 100.
      </div>
    </div>
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Get Quotes</button>
  </form>

  <div *ngIf="quotes.length > 0">
    <ul>
      <li *ngFor="let quote of quotes" class="sentenceQuote">
        <b>{{ quote.sentence }} </b>
        <br>
        -<i>{{ quote.character.name }}, {{ quote.character.house.name }}</i>
      </li>
    </ul>
  </div>
</div>
